ec2_key_name      = "my-ec2-key"
allowed_mgmt_cidr = "<ipchicken>/32"
region            = "us-east-1"

## juiceshop asm
#app_image="bkimminich/juice-shop"
#command=""
#app_port= 3000
## plane jane httpd
#app_image=httpd:2.4
#command="/bin/sh -c \"echo '<html> <head> <title>Amazon ECS Sample App</title> <style>body {margin-top: 40px; background-color: #333;} </style> </head><body> <div style=color:white;text-align:center> <h1>Amazon ECS Sample App</h1> <h2>Congratulations!</h2> <p>Your application is now running on a container in Amazon ECS.</p> </div></body></html>' >  /usr/local/apache2/htdocs/index.html && httpd-foreground\""
#app_port= 80
